<div class="forgot-password-container">
  <div class="forgot-password-card">
    <h2>Recuperar Contraseña</h2>
    <form (submit)="onSubmit()">
      <div class="form-group">
        <label for="email">Correo Electrónico:</label>
        <input type="email" [(ngModel)]="email" name="email" class="form-control" placeholder="Ingresa tu correo electrónico" required />
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    <p *ngIf="message" class="message">{{ message }}</p>
  </div>
</div>
