# Node.js
node_modules/
dist/
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and editors
.idea/
.vscode/
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Coverage
coverage/
