.form-container {
  background-color: #ffffff; /* Fondo blanco para visibilidad */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #333333; /* Color del texto */
}

label {
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
  color: #333333; /* Color del texto */
}

input,
select {
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  border: 1px solid #5065df;
  border-radius: 4px;
  box-sizing: border-box;
  color: #333333; /* Color del texto */
  background-color: #f9f9f9; /* Fondo del campo de entrada */
}

input:focus,
select:focus {
  border-color: #3b82f6; /* Borde azul al enfocarse */
  outline: none; /* Elimina el borde de enfoque predeterminado */
  box-shadow: 0 0 5px rgba(59, 130, 246, 0.5); /* Sombra al enfocarse */
}

button {
  margin-top: 10px;
  padding: 10px 15px;
  color: #ffffff; /* Color del texto */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

button[type="submit"] {
  background-color: #1f5fa7; /* Fondo verde para el botón de guardar */
}

button[type="submit"]:hover {
  background-color: #113661; /* Fondo al pasar el ratón */
}

button.cancel {
  background-color: #f44336; /* Fondo rojo para el botón de cancelar */
}

button.cancel:hover {
  background-color: #801d1b; /* Fondo al pasar el ratón */
}

.form-title {
  font-size: 24px;
  font-weight: bold;
  color: #1e3a8a; /* Azul oscuro para el título */
  margin-bottom: 20px;
  text-align: center; /* Centra el título */
}
/* archivo .css */
.btn-padding {
  padding: 10px 20px;
}

.btn-spacing {
  margin-right: 10px; /* Ajusta este valor según tus necesidades */
}

