<div class="px-4 py-2 bg-white rounded-lg shadow-md">
  <h2 class="text-xl font-semibold text-blue-900 mb-4">Agregar Usuario</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="mb-4">
      <label class="block text-gray-700">Nombre:</label>
      <input [(ngModel)]="newUser.name" name="name" required class="w-full px-3 py-2 border rounded-md">
    </div>
    <div class="mb-4">
      <label class="block text-gray-700">Apellido:</label>
      <input [(ngModel)]="newUser.lastname" name="lastname" required class="w-full px-3 py-2 border rounded-md">
    </div>
    <div class="mb-4">
      <label class="block text-gray-700">Usuario:</label>
      <input [(ngModel)]="newUser.user" name="user" required class="w-full px-3 py-2 border rounded-md">
    </div>
    <div class="mb-4">
      <label class="block text-gray-700">Correo Electrónico:</label>
      <input type="email" [(ngModel)]="newUser.email" name="email" required class="w-full px-3 py-2 border rounded-md">
    </div>
    <div class="mb-4">
      <label class="block text-gray-700">Contraseña:</label>
      <input type="password" [(ngModel)]="newUser.password" name="password" required
        class="w-full px-3 py-2 border rounded-md">
    </div>
    <div class="mb-4">
      <label class="block text-gray-700">Status:</label>
      <select [(ngModel)]="newUser.status" name="status" class="w-full px-3 py-2 border rounded-md">
        <option value="1">Activo</option>
        <option value="0">Inactivo</option>
      </select>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700">Rol:</label>
      <select [(ngModel)]="newUser.role" name="role" class="w-full px-3 py-2 border rounded-md">
        <option value="Vendedor">Vendedor</option>
        <option value="Admin">Admin</option>
      </select>
    </div>
    <div class="flex justify-end">
      <button type="submit"
        class="px-4 py-2 font-medium text-white bg-green-600 rounded-md hover:bg-green-500 focus:outline-none focus:shadow-outline-green active:bg-green-600 transition duration-150 ease-in-out btn-padding btn-spacing">Guardar</button>
      <button type="button" (click)="onClose()"
        class="ml-2 px-4 py-2 font-medium text-white bg-red-600 rounded-md hover:bg-red-500 focus:outline-none focus:shadow-outline-red active:bg-red-600 transition duration-150 ease-in-out btn-padding btn-spacing">Cancelar</button>

    </div>
  </form>
</div>
